<div class="gaza-notfound">

  <!-- Background -->

  <div class="gaza-notfound__glow gaza-notfound__glow--one"></div>
  <div class="gaza-notfound__glow gaza-notfound__glow--two"></div>

  <div class="gaza-notfound__grid"></div>

  <!-- Content -->

  <main class="gaza-notfound__content">


    <!-- Icon -->
    <div class="gaza-notfound__icon-wrapper">

      <div class="gaza-notfound__icon-ring"></div>

      <div class="gaza-notfound__icon">
        <i class="fa-solid fa-compass"></i>
      </div>

    </div>

    <!-- Error code -->
    <span class="gaza-notfound__code">
      ERROR 404
    </span>

    <!-- Heading -->
    <h1 class="gaza-notfound__title">
      Page not found
    </h1>

    <!-- Description -->
    <p class="gaza-notfound__description">
      Looks like this page has gone off the air.
      The page you're looking for doesn't exist,
      may have moved, or is temporarily unavailable.
    </p>

    <!-- Actions -->
    <div class="gaza-notfound__actions">

      <button type="button" class="gaza-notfound__button gaza-notfound__button--primary" (click)="goHome()">

        <i class="fa-solid fa-house"></i>

        <span>
          Back to Home
        </span>

      </button>

      <button type="button" class="gaza-notfound__button gaza-notfound__button--secondary" (click)="goBack()">

        <i class="fa-solid fa-arrow-left"></i>

        <span>
          Go Back
        </span>

      </button>

    </div>

    <!-- Brand -->
    <div class="gaza-notfound__brand">

      <span class="gaza-notfound__brand-icon">
        <i class="fa-solid fa-music"></i>
      </span>

      <span>
        Gaza Stream
      </span>

    </div>


  </main>

</div>
