<div class="gaza-app">

  <!-- ======================================================
       SIDEBAR
       ====================================================== -->

  <app-sidebar></app-sidebar>


  <!-- ======================================================
       MAIN APPLICATION
       ====================================================== -->

  <main class="gaza-main">

    <!-- Top navigation -->
    <app-topbar></app-topbar>


    <!-- Routed pages -->
    <section class="gaza-page">

      <router-outlet></router-outlet>

    </section>

  </main>


  <!-- ======================================================
       GLOBAL MUSIC PLAYER
       ====================================================== -->

  <app-media-player></app-media-player>

</div>


